<div class="p-4 mb-8 bg-white neeto-ui-shadow-s rounded">
<h1>Scribble Articles Report</h1>
 <table>
  <thead>
    <tr>
      <th>Article</th>
      <th>Views</th>
    </tr>
  </thead>
  <tbody>
  <% @articles.each do |article| %>
  <div class="flexrow w-full mb-4">
    <tr>
      <td><%= article.title %></td>
      <%# if article have visit then render table else 0 %>
      <% if article.visits.present? %>
      <td>
        <table>
          <tr>
            <th>Date</th>
            <th>Views</th>
          </tr>
          <% article.visits.each do |visit| %>
          <tr>
          <%# convert the following date in dd/mm/yy %>
            <td><%= visit.visited_at %></td>
            <td><%= visit.visit %></td>
          </tr>
          <% end %>
        </table>
      </td>
      <% else %>
      <td>0</td>
      <% end %>
    </tr>
  </div>
  <% end %>
  </tbody>
</table>
</div>
